#page-wrapper {
  min-height: 100vh !important;
  background-color: #efefef !important;
  border-left: none !important;
}

.navbar-fixed-top {
  background-color: #efefef;
  border-bottom: 1px solid #666;
  font-size: 13px;
  height: 52px !important;
}

.btn-info {
  background-color: transparent;
  color: #222;
  border: none;
}

.btn-info:hover {
  background-color: transparent;
  color: #222;
  border: none;
  cursor: default;
}

.well-sm {
  padding: 5px;
}

.alert {
  font-size: 16px;
  font-weight: bold;
}
